<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th class="btn" (click)="toogleOrder()" >
                    <i >&#8597;</i>

                    Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody >
                <tr *ngFor="let item of walletItems | orderWallet:order " >
                  <td> {{item.description}} </td>
                  <td> {{item.amount}} </td>
                  <td
                  [class.text-success]="item.type === 'INCOME'"
                  [class.text-danger]="item.type === 'EGRESS'"
                  > {{ item.type === "EGRESS" ? "Egreso": "Ingreso" }} </td>
                  <td>
                    <button type="button" class="btn btn-danger"
                    (click)="deleteItem(item.uid)"
                    >
                      <i class="fa fa-trash"></i>
                      Borrar
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
